<div hx-swap-oob="innerHTML:#update-timestamp">
  <p>
    <i style="color: green" class="fa fa-circle"></i>
    {{.now}}
  </p>
</div>
<div hx-swap-oob="innerHTML:#system-data">{{.sysInfo}}</div>
<div hx-swap-oob="innerHTML:#cpu-data">{{.cpuInfo}}</div>
<div hx-swap-oob="innerHTML:#disk-data">{{.diskInfo}}</div>
